{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1>Topics</h1>
{% endblock page_header %}

{% block content %}

  <p>
    <a class="btn btn-outline-primary" href="{% url 'learning_logs:new_topic' %}">
      Add a new topic
    </a>
  </p>

  <div class="list-group">
    {% for topic in topics %}
      <a class="list-group-item list-group-item-action" href="{% url 'learning_logs:topic' topic.id %}">
        {{ topic.text }}
      </a>
    {% empty %}
      <p class="list-group-item border-0">
        No topics have been added yet.
      </p>
    {% endfor %}
  </div>
  
{% endblock content %}
